<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Hello World!</title>
  </head>
  <body ng-app="app" ng-controller="myCtrl">
    <h1>Electron Playground</h1>
	
    <h3>RobotJS test</h5>
	<p>
        Screen dimensions from RobotJS: {{ size.width  }} x {{ size.height  }}px.
	</p>
    
    <h3>Update manager</h5>
    <p>
        Version fetched from package.json: {{ packageVersion }}.
    </p>
    <p>
        Update server address: http://
        <input type="text" ng-model="updateServerAddress" />
    </p>
    <p>
        <button ng-click="runUpdateCheck()">Run update check</button>
    </p>
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.js"></script>
	<script src="angular-electron.js"></script>
    <script src="simpleAutoUpdate.js"></script>
	<script src="angularapp.js"></script>
  </body>
</html>
